[submodule "components/esp32-button"]
	path = components/esp32-button
	url = git@github.com:Ostpopcorn/esp32-button.git
[submodule "components/esp32-rotary-encoder"]
	path = components/esp32-rotary-encoder
	url = https://github.com/DavidAntliff/esp32-rotary-encoder.git
[submodule ".\\components\\esp32-LiquidCrystal"]
	path = .\\components\\esp32-LiquidCrystal
	url = git@github.com:Ostpopcorn/esp32-LiquidCrystal.git
[submodule "components/esp32-LiquidCrystal"]
	path = components/esp32-LiquidCrystal
	url = git@github.com:Ostpopcorn/esp32-LiquidCrystal.git
[submodule "components/clock_object"]
	path = components/clock_object
	url = git@github.com:Ostpopcorn/clock_object.git
